{% extends 'base.html.twig' %}

{% block title %}Hello NewOrderController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>add Delivery {{ controller_name }}! ✅</h1>

    {{ form(form) }}
{#    <ul>#}
{#        <li>Your controller at <code><a href="{{ '/application/src/Controller/NewOrderController.php'|file_link(0) }}">src/Controller/NewOrderController.php</a></code></li>#}
{#        <li>Your template at <code><a href="{{ '/application/templates/new_order/index.html.twig'|file_link(0) }}">templates/new_order/index.html.twig</a></code></li>#}
{#    </ul>#}
</div>
{% endblock %}
